extends ../../layout

block content
  div(class='col-md-6')
    form(id='shipOnDock-add-form' name='shipOnDock-add-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=shipOnDock.id class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='ship') Ship
        div(class='col-md-9')
          select(id='ship' name='ship' class='form-control')
            option(value='') Select a ship
            each ship in ships
               option(value=ship.number)= `${ship.name}, ${ship.number} , ${ship.country}, ${ship.tonnage}, ${ship.draft}`
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Update
